body {
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial,sans-serif;
  font-weight: bold;
  color: #f05f40;
}

.item-header {
  text-align: center;
  color: #f05f40;
}

a {
  color: #f05f40;
}

div.wx {
  color: #fff;
}
.formbg {
  background-color: rgba(150,150,150,0.5);
  margin: 0;
  padding: 20px;
  width: auto;
  height: auto;
  top:50px;
  position:relative;
}

.itembg {
  background-color: rgba(150,150,150,0.5);
  margin: 10px;
  text-align: center;
  padding: 20px;
  border: 1px solid #f05f40;
  width: auto;
  height: auto;
}

.show {
  margin: 0 auto;
  width: 500px;
}

main {
  top:52px;
  position:relative;
}

section {
  top:52px;
  position:relative;
}

footer {
  margin: 30px;
  color: white;
  position:absolute;
  bottom:0;
  width:100%;
}