@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i|Raleway:300,400,700');

html {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
*, *:before, *:after {
	-moz-box-sizing:inherit;
	box-sizing:inherit;
}

body {background-color:#f4f4f4; font-family: 'Roboto', sans-serif; font-size: 1rem; font-weight: 300;}

.container {margin:0 auto; max-width: 1200px; padding: 0; width:calc(100% - 150px);}

.flexbox {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.flexLeft {
	-webkit-box-pack:flex-start;
	-ms-flex-pack:flex-start;
	justify-content:flex-start;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}
.flexRight {
	-webkit-box-pack:flex-end;
	-ms-flex-pack:flex-end;
	justify-content:flex-end;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}
.flexCenter {
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}
.flexJustify {
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.flexAround {
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-around;
}
.center {text-align: center;}

h1, h2, h3, h4, h5, h6 {color: #545454; line-height:1.35em; margin:0 0 .15em;}

#myBtn {background: none; cursor: pointer; padding: 6px 20px; font-family: 'Roboto Condensed', sans-serif; font-weight: 400; outline: none; position: relative; -webkit-transition: all 0.3s;
transition: all 0.3s; border-radius: 0; background: #fff; border: #2637B0 2px solid; color:#2637B0}
#myBtn:hover, #myBtn:focus {background: #2637B0; color:#fff}
#myBtn:hover .fas,  #myBtn:focus .fas {color: #fff;}
.btn {background: none; cursor: pointer; padding: 6px 20px; font-family: 'Roboto Condensed', sans-serif; font-weight: 400; outline: none; position: relative; -webkit-transition: all 0.3s;
transition: all 0.3s; border-radius: 0;}
#trackerBtn {text-align: right;}
.btn {border-radius: 0 !important;}
.btn.edit {background: #EAF9FB; border: 1px solid #2395A3; color: #2395A3;}
.btn.edit:hover {background: #2395A3; color: #fff;}
.btn.archive {background: #e3dff0; border: 1px solid #484554; color: #484554;}
.btn.archive:hover {background: #484554; color: #fff;}
.btn.delete {background: #FBECF0; border: 1px solid #CC3359; color: #CC3359;}
.btn.delete:hover {background: #CC3359; color: #fff;}

h1 {font-family: 'Raleway', sans-serif; font-size:2em; font-weight: 400; margin: 0 0 20px;}
h2 {font-family: 'Raleway', sans-serif; font-size:1.5em; font-weight: 400; padding-bottom: 20px;}
h3 {font-family: 'Raleway', sans-serif; font-size:1.25em;}
h4 {font-size:1.125em; font-weight: 300; text-transform: uppercase;}
h5 {font-size:1.05em;}
h6 {font-size:1em;}

h2.brand, h2.brand a {padding: 0; margin: 0; color: #f3f3f3; font-weight: 700; letter-spacing: 3.2px; opacity: 0.8;}
h2.brand:hover {opacity: 1;}
#footer a {text-decoration: none;}

p {font-family: 'Roboto', sans-serif; font-size: 1em; font-weight: 300; margin:0 0 1em;}
.fas {padding: 0 0 0 15px;}
#siteBody {min-height: 600px; }

/*header */
#adminBar {background-color:#323232; padding:15px 0;}
#adminBar a {color:#fff; text-decoration:none;}

#adminBar #logo img {max-width: 150px; opacity: 0.8;}
#adminBar #logo img:hover {opacity: 1;}

#profileBar .fas {color: #19B9E7;}
#profileBar {position: relative; display: flex; flex: 1; justify-content: flex-end;}
#profileBar > div {margin: 0 20px;}

.profileImage {margin: 0 10px 0;}
.profileImage img {border-radius: 50%; border: 2px solid #19B9E7; object-fit:cover; width: 50px; height:50px; max-height:50px; min-height:50px; }
.profileText {text-align: center;}
.profileText p {color: #fff; font-family: 'Raleway', sans-serif; font-size: .9em; font-weight: 300; margin: 0;}
.profile-thumbnail {text-align: center;}
.profile-thumbnail img { object-fit: cover; width: 15em; border: none; height: 15em; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);}

#profileBar {position:relative;}
#profileBar .dropdown {background: #323232; display:none; position: absolute; min-width: 150px; padding: 10px 0; right: 0; left: auto; z-index: 1; top: 50px;}
#profileBar .dropdown a {color: #adadad; display: block; font-size: .85em; font-family: 'Roboto', sans-serif; font-weight: 400; padding: 8px 15px; text-decoration: none; transition: color .25s ease-in-out;}
#profileBar .dropdown a:hover, #profileBar .dropdown a:focus {background-color: #19B9E7; color: #fff;}
#profileBar .fa-angle-down {cursor: pointer}

/* Image preview on signup and edit profile pages */
#imagePreview {max-width: 100%; display: block;}
#imagePreview[src="#"] {display: none;}

#navBar ul li {list-style: none;}
#utilityNav {flex:1 auto; text-align:right; margin:0; padding:0;}
#utilityNav > li {display:inline-block; margin:0 0 0 20px;}
#utilityNav > li > a {color:#fff; font-size:20px; font-weight:700;}
#utilityNav > li > a:hover, #utilityNav > li > a:focus {color:#0085c4;}
#utilityNav span.loggedIn {color:#fff; font-size:20px;}
#utilityNav span.loggedIn a {color:#fff; font-size:20px; opacity: 0.8; text-decoration: none;}
#utilityNav span.loggedIn a:hover {opacity: 1; text-decoration: none;}
#utilityNav span.loggedIn:after {content:" | "; margin:0 0 0 20px;}
#utilityNav .loggedIn img {height:50px; width:50px; border-radius:50%; margin-left:10px;}

#navBar {background: linear-gradient(to right, #2638b0, #0060c8, #007fcb, #0099c2, #00b0b7); padding: 30px 0 0;}
#navBar a {color:#fff; display: block; font-family:'Roboto', sans-serif; font-size: 1em; font-weight: 300; padding: 15px; text-decoration: none; }
#navBar a:hover, #navBar a:focus, #navBar a.is-active {background:#fff; color:#2637B0;}
#navBar ul {padding: 0; margin: 0;}

/* search box */
.searchBox {background: rgba(255,255,255,.1); color: #fff; width: 250px; padding: 6px 15px;}
form.searchBox {box-shadow: none; max-width: none; margin: auto; text-align: left; background: transparent; position: relative;}
form.searchBox input {width: 250px; padding: 6px 15px; margin: auto; background-color: rgba(255,255,255,.1); border: 0;}
form.searchBox input::placeholder {color: #fff;}
form.searchBox button {background-color: transparent; padding: 0; margin: auto; border-radius: 0; display: inline-block; position: absolute; right: 30px; border: none; color: #fff;}


/* Alert Message */
#alertMessage {position: fixed; top: 10px; left: 50%; bottom: auto; right: auto; transform: translateX(-50%)}

/* Home */
#overview {background: #fff; padding: 5vh 0;}
.col-full {flex: 100%;}

.home {text-align:center;}
.asideUser img { width:100%; border:3px solid #252525;}
.asideUser h3 {border-bottom:2px solid #252525;}

.welcome {text-align:center; margin: 125px 0;}
.welcomeLinks {margin:25px 0; text-align:center;}
.welcomeLinks p {margin:10px 0;}
.login {background-color:#0085c4; border-radius:10px; color:#fff; margin:10px 0; padding:7px 15px;}
.login:hover, .login:focus {background-color:#fff; border:1px solid #0085c4; color:#0085c4; border-radius:10px; text-decoration:none;}

h3.pageHeader {text-align:center; margin: 10px 0 5px;}

/* dashboard - select team member */
.selectTeamMember {position:relative;}
.selectTeamMember .fa-angle-down {cursor: pointer;}
.selectTeamMember h4, .selectTeamMember .fa-angle-down { display:inline-block}
#allTeamMembers {background: #323232; position: absolute;  display:none; list-style-type:none; min-width: 150px; padding: 10px 0; right:auto; left: 0; z-index: 1; top: 35px;}
#allTeamMembers a {color: #adadad; display: block; font-size: .85em; font-family: 'Roboto', sans-serif; font-weight: 400; padding: 8px 15px; text-decoration: none; transition: color .25s ease-in-out;}
#allTeamMembers a:hover, #allTeamMembers a:focus {background-color: #19B9E7; color: #fff;}

/*Dashboard*/
#dashboard {margin:50px 0;}
#dashboardLinks, #stats {margin:0 auto; max-width:1100px;}
.dashboardLinksContainer, .statsContainer {display:flex; flex-flow:row wrap;}
.dashboardLinksContainer .galleryMenu {display: flex; flex-wrap: wrap; justify-content: center; align-content: center; flex: 1;}
.dashboardLinksContainer .galleryMenu a {display: flex; flex-wrap: wrap; justify-content: center; text-align: center;}
.dashboardLinksContainer a img {height:128px; width:128px;}

#mainSection {display:flex; flex-wrap:wrap;}
aside {flex:1; padding:20px;}
aside#left ul {list-style:none; margin:0; padding:0;}
aside#left ul li {padding:10px 10px 10px 0;}
aside#left ul li a {color:#252525; padding:10px 10px 10px 0; text-decoration:none;}
aside#left ul li a.active {background-color:#535C6A; border-radius:20px; color:white; padding:10px; text-decoration:none;}

#main {flex:6;}
#main nav.contentNav {display:flex; flex-wrap:nowrap; justify-content:space-around;}
#main nav.contentNav a {padding:20px 0;}
nav.contentNav a.active {box-shadow:0 3px 0 0 #8AAEEA; color:#8AAEEA;}

/* overview */
#overview .fas {color:#2637B0; padding: 0 0 0 5px}
#dashboard .developer .fas {color:#2637B0; padding:  0 0 0 5px}

#tracked {border: 1px solid black; padding: 10px 5px;}
#tracked p {margin: 0;}

/*Tracker*/
#tracker #stats {margin:0 auto; max-width:1100px; display: flex; flex-wrap: wrap;}
#essTracked, #strTracked {flex: 1; margin: 10px 0 30px;}
#tracker #tracked {margin: 10px 0;}

#delete-form, #archive-form {background-color: transparent; box-shadow: none; padding: 0; margin: 0; display: inline-block;}

.showEssentials,  .showStarter,  .showProd,  .showTlink, .showContent {cursor: pointer;} 

/* top row */
#topRow {margin: 0 -15px}
#topRow h2 {padding:20px}
#topRow .widget {padding: 20px 15px;}
#topRow  .table {background: #fff;}
.circle {align-items: center; color:#2637B0; border: 3px solid #2637B0; border-radius: 50%; display: flex; font-size: 3em; justify-content: center; padding: 10px; width: 125px; height: 125px; margin: 0 auto;}
.circle:hover, .circle:focus {background: #2637B0; color: #fff; cursor: pointer;}

/* bottom row */
#bottomRow .table {background: #fff;}
#bottomRow .url a {transition: color .25s ease-in-out; color: #2637B0; text-decoration: none; font-weight: 400;}
#bottomRow .url a:hover, #bottomRow .url a:focus {color:#9E4ADE}
#bottomRow .arrow .fas {color:#2637B0}

/* expanded accordion */
#bottomRow #accordion .expanded {width: 100%;	padding: 20px 40px;}
div#accordion p {margin: 0;}

/* tables*/
.table.graph {padding: 0 0 25px;}

.table .column {width: 50%;}
.table .column .cell {padding: 15px; text-align: center; width: 100%;}
.table .column .cell.build {font-weight: 500;}

.rightCol .table .row {justify-content: space-between;}

.table .row.title {background: #484554; border-top: none; color: #ada9bb; font-weight: 500;}
.table .row {border-top: solid 1px #E6E7EF; margin:0; justify-content: flex-end; width: 100%;}
.table .row:last-child {border-bottom: solid 1px #E6E7EF;}
.table .row .cell {padding: 15px; text-align: right; margin:0}
.table .row .cell.url {flex-grow: 1; text-align: left;}
.table .row .cell.actNumber {width: 175px;}
.table .row .cell.name {width: 175px;}
.table .row .cell.date {width: 175px;}
.table .row .cell.arrow {cursor: pointer; width: 50px;}

#topRow .table .row .cell.task {text-align: left; justify-content: flex-start;width: 175px; flex:inherit}


.fullCol {width: 100%;}

.leftCol {flex: 0 0 58.3333333333%; max-width: 58.3333333333%;}
.rightCol .row:hover {background:#2637B0; color: #fff; cursor: pointer;}

.rightCol {flex: 0 0 41.6666666667%; max-width: 41.6666666667%;}

.panel {display: none; padding: 10px 40px 40px;}
.panel span {line-height: 1.65em;}


/* Universal Form Styles */
.form {background: #fff; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); font-family: 'Roboto Condensed', sans-serif; font-size: 1rem; margin: 0 auto; width:calc(100% - 20px)}
.form .header {background:#484554; color:#ada9bb; padding: 20px 30px;}
.form h2 {color:#ada9bb; margin: 0; padding: 0; text-transform: uppercase;}
.form .close .fas {color:#ada9bb; font-size: 2em;}
.form section {padding: 0 0 30px;}
.form .wrapper {padding: 30px;}

.form input,
.form textarea,
.form select {background-color: transparent; border: none; border-bottom: 1px solid #ddd; border-radius: 0; color:#ada9bb; font-family: 'Roboto Condensed', sans-serif; font-size: 1.125em; margin-bottom: 10px; outline: none; padding: 5px; width: 100%;}
.form label {display: block;}
.form input:focus, 
.form textarea:focus, 
.form select:focus {color: #2637B0; outline: 0;}

.form textarea {overflow: hidden; resize:none;}
.form button[type="submit"] {font-size: 1.25em; padding: 15px; width: 100%;}
.form button[type="button"],
.form button[type="submit"] {background-color: #2637B0; border: none; display: inline-block; cursor: pointer; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; color: #fff; text-decoration: none; transition: background 0.3s;}
.form button[type="button"]:hover,
.form button[type="submit"]:hover {background: none; box-shadow: inset 0px 0px 0px 1px rgba(38, 55, 176, 1); color: #2637B0;}

/* removes browser styles */
::placeholder, select:required:invalid{color: #ada9bb;}
input, select, textarea {color: #2637B0 !important;}
::-moz-placeholder {opacity: 1;}
.form select,
.form option {-webkit-appearance: none; /* WebKit/Chromium */ -moz-appearance: none; appearance: none; /* Gecko */}

.form select option {color: #4A3C3E; padding: 0;}
.form select option:disabled {background-color: transparent; color: #ada9bb;}
.form select::-ms-expand {display: none;}

/* number arrow styles */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance: textfield;}

.acctNumber input {height: 40px; float: left; display: block;}
.acctNumber-nav {float: left; position: relative; height: 40px;}
.acctNumber-button { color: #2637B0; font-size: .7em; position: relative; cursor: pointer; width: 20px; text-align: center;  -webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
.acctNumber-button.acctNumber-up {position: absolute; height: 50%; top: 0;}
.acctNumber-button.acctNumber-down {position: absolute; bottom: 0; height: 50%;}
.acctNumber .fas {vertical-align: middle;}

/* select boxes */
.selectBox .customSelect,
.selectBox input {width: 100%; position: relative;}
select:first-child {color: #ada9bb;}
.customSelect::after {color: #2637B0; content: '\f107'; cursor: pointer; font-family: "Font Awesome 5 Free"; font-size: 1em; font-weight: 900; right: 11px; top: 5px; position: absolute;}

/* check boxes */
.customCheck {padding: 10px 10px 20px;}
.customCheck span {margin: 8px 10px 8px 30px;}
.customCheck .checkbox {color: #404040;
cursor: pointer; position: relative; width: 200px;}
.customCheck .checkbox input {left: -9999px; position: absolute;}
.customCheck .checkbox input + i::after {color: #2637B0; content: '\f00c'; font-family: FontAwesome; height: 15px; left: 1px; position: absolute; opacity: 0; text-align: center; top: 2px; transition: opacity 0.1s; width: 15px;}
.customCheck .checkbox i {background: #fff; border: 2px solid #e5e5e5; height: 25px; left: 0; outline: none; position: absolute; transition: border-color 0.3s; top: 5px; width: 25px;}

.customCheck .checkbox input:checked + i::after {opacity: 1;}
.customCheck .checkbox input:checked + i {border: 2px solid #2637B0;}
.checkbox {align-items: center; display: flex;}

/* task types table */
.taskTable {padding-bottom: 25px; width: 100%;}
#task .fas {color: inherit; font-size: inherit;}
.taskTable .header {font-weight: 400; padding:5px;}
.taskTable .header .cell {padding: 5px 10px;}
.taskTable .row {border-bottom: 1px solid #ddd; justify-content: space-between; padding: 5px 0 0;  margin: 0;}
.taskTable .cell {padding: 0 10px;}
.taskTable .customSelect {height: 57px; position: relative;}
.taskTable input, 
.taskTable textarea, 
.taskTable select {border-bottom: none; margin-bottom: 0;}
.taskButtons {padding: 10px 0;}
.taskButtons button {font-size: 1em; margin: 0 0 0 5px; padding: 8px 15px;}
.taskButtons button i {margin-left: 3px;}

/*Edit Profile Form*/
.profileForm label {flex: 30%; margin: 0 5px;}
.upload-btn-wrapper {position: relative; overflow: hidden; display: inline-block;}
.profileForm .btn {border: 2px solid #2637B0; color: #fff; background-color: #2637B0; padding: 8px 20px; border-radius: 8px; font-size: 20px; font-weight: bold;}
.upload-btn-wrapper:hover .btn {border: 2px solid #2637B0; background: #fff; color: #2637B0;}

.upload-btn-wrapper input[type=file] {font-size: 20px;	position: absolute;	left: 0; top: 0; opacity: 0; cursor: pointer;}

@media screen and (max-width: 400px) {
	.taskTable .header .type,
	.taskTable .header .quantity {display: none;}
	.taskTable .row {border-bottom: 1px solid #484554; padding: 15px 0 10px;}
	.taskButtons {justify-content: space-between;}
	.taskButtons button {margin: 10px 0 0; padding: 8px; width: 48%;}
}
@media screen and (max-width: 767px) {
	.taskTable .header .notes {display: none;}
	.taskTable .header {justify-content: space-between;}
	.taskTable .cell.notes {width: 100%;}
	.taskTable .cell.type {width: 200px;}
	.taskTable .cell.quantity {width: 100px;}
	.form label {width: 100%;}
	.acctNumber {width: 100%;}

	
}
@media screen and (min-width: 768px) {
	.form {max-width: 800px;}
	.selectBox .flexItem {width: 45%;}
	.taskTable .cell.type {width: 200px;}
	.taskTable .cell.quantity {width: 125px;}
    .taskTable .cell.notes {flex-grow: 1;}
	
}

.labelNotes {display:flex; flex-wrap:wrap; width:100% !important;}
.labelNotes textarea {flex:100%;}

/* footer */
#footer {background: linear-gradient(135deg, rgba(204,61,190,1) 0%,rgba(119,42,219,1) 100%); bottom:0; margin:0; padding:15px 0; width:100%;}
#footer p {color:#fff; margin:0; text-align:center;}

@media only screen and (max-width: 1100px) {
	/* dashboard bottom area */
	#bottomRow .table .row .cell, 	#bottomRow .table .row .cell.name {width: 100px}
}

@media only screen and (max-width: 990px) {
	/* dashboard top area */
	#topRow {flex-direction: column;}
	.leftCol, .rightCol {max-width: 100%}

	/* dashboard bottom area */
	#bottomRow .table .title {display:none}
	#bottomRow .table .row {position:relative; padding: 20px 10px}
	#bottomRow .table .row .cell, 	#bottomRow .table .row .cell.name {width: 100% !important; text-align:left;}
	#bottomRow .table .row .cell {padding: 0 15px}
	#bottomRow .table .row .cell.arrow {position:absolute; top:10px; right: 5px; left: auto; text-align:right !important}
} 
	
@media only screen and (max-width: 500px) {
	/* dashboard top area */
	#topRow .table .column {width: 100%}
}
  
  