<% include ../partials/header %>
<style>
    h1 {text-transform: capitalize;}
</style>
<div id="overview" class="center">
        <h1>Edit Comment for <%= project.name %></h1>
</div>
<div class="container" style="margin: 20px auto;">
    <div class="row">
        <div class="col-md-12">
            <form class="form profileForm" action="/projects/<%= project_id %>/projectComments/<%= comment._id %>?_method=PUT" method="post">
                <section class="header flexbox flexJustify">
                        <h2>Comment Editor</h2>
                    </section>
                <div class="wrapper">
                    <section class="flexbox flexJustify">
                        <label for="comment[text]"><span>Comment:</span>
                            <textarea type="text" name="comment[text]"><%= comment.text %></textarea>
                        </label>
                    </section>
                        <button type="submit">Create Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ../partials/footer %>