<% include ../partials/header %>
<div id="overview" class="center">
  <h1>Edit Version </h1>
  <div class="flexbox flexCenter">
    <a href="/versions/new" class="myBtn" id="myBtn">New Versions<i class="fas fa-plus"></i></a>
  </div>
</div>

<% include ../partials/footer %>