<% include ../partials/header %>
<style>
  img {
    display: block;
    margin: 10px auto;
  }
</style>
<div id="overview" class="center">
  <h1>Versions</h1>
  <div class="flexbox flexCenter">
    <a href="/versions/new" class="myBtn" id="myBtn">New Versions<i class="fas fa-plus"></i></a>
  </div>
</div>
<div id="dashboard">
  <div class="container">
    <div id="versionControl">
      <p>Version control is used to check github commits. You will simply check here for a description of the
        previous github version for easier tracking. The purpose of this page is to prevent github commits from being
        over done. You can simply just added the description/items and bugs for this release here.</p>
      <p>On the commit side of things you will now simply just commit with a version number. Small changes will
        follow the current version number. ie. 1.1. All Major Fixes/pushes will change the current version number.
        ie. 2.</p>
      <h2>Processes on releasing a version</h2>
      <hr />
      <h3>Strom-Centre</h3>
      <p>First you will need to create a new version in strom-centre. You will simply visit the page for new. Below
        will be a few screen grabs for help.</p>
      <img src="/images/Version Help One.png" alt="version strom-centre help" />

      <h3>Github</h3>
      <p>Once you have created the request. You will need to push your changes to the github site. It is <em>important
          you remember your version number</em> you are going to use.</p>
      <p>For Major changes and update you will change the version number by whole numbers.</p>
      <img src="/images/Version Help Git Part 1.png" alt="version strom-centre help" />
      <p>For Minor/Bug Fixes you will go up by decimal number.</p>
      <img src="/images/Version Help Git Part 2.png" alt="version strom-centre help" />
      <hr />
      <h2>Reporting Bugs in Strom Centre</h2>

      <p>Visit the Versions page, find the current "Released" - hit edit to the right. This will bring up the edit
        page. You will now see a field called Bugs, and you can simply just add the issue here. This will help
        developers know what bugs during a certain releases. These should not be deleted. </p>
      <img src="/images/bug_report.png" alt="version strom-centre help" />
    </div>
  </div>
</div>

<!-- end of dashEssential -->
<% include ../partials/footer %>