<% include ../partials/header %>
<div id="overview" class="center">
  <h1>New Version</h1>

  <a href="/versions">Back to Versions</a> | <a href="/versions/help">Visit Version Help</a>

</div>
<div id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form profileForm" action="/versions" method="POST">
          <section class="header flexbox flexJustify">
            <h2>Project Creation</h2>
          </section>
          <div class="wrapper">
            <section class="flexbox flexJustify">
              <label for="name"><span style="margin: 0 0 5px; display: block;">Version Number:</span>
                <input type="text" name="version" placeholder="Version Number">
              </label>
              <label for="status"><span style="margin: 0 0 5px; display: block;">Version Status:</span>
                <select name="status">
                  <option value="Released" selected>Released</option>
                  <option value="Not Released">Not Released</option>
                </select>
              </label>
            </section>
            <section style="width: 100%;">
              <label for="description" class="labelNotes"><span>Version Description:</span>
                <textarea rows="4" name="description" placeholder="Project Description"></textarea>
              </label>
            </section>
            <section style="width: 100%;">
              <div id="item">
                <div class="itemTable">
                  <div class="header flexbox">
                    <div class="cell type">Version Items</div>
                  </div>
                  <div class="item">
                    <div class="row flexbox" style="flex: 100%; padding: 5px 10px;">
                      <label name="actionItem">
                        <input type="text" placeholder="Action Item" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="itemButtons flexbox flexRight">
                <button type="button" id="addItem">Add <i class="fas fa-plus"></i></button>
                <button type="button" id="removeItem">Remove <i class="fas fa-minus"></i></button>
              </div>
            </section>
            <button type="submit">Create Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    var count = 0;
    $("div.item div.row:first-of-type input").attr("name", "versionItems[" + count + "][item]");
    $("#addItem").click(function () {
      count++;
      var newItemInput = $(".item .row:last-of-type");
      newItemInput.clone().find("input:text").val("").end().appendTo(".item");
      $("div.item div.row:last-of-type input").attr("name", "versionItems[" + count + "][item]");
    });
    $("#removeItem").click(function () {
      var itemCount = $("div.item div.row").length;
      if (itemCount === 1) {
        alert("You cannot remove the only item");
      } else {
        var newItemInput = $(".item .row:last-of-type");
        newItemInput.remove();
      };
    });
  });
</script>
<% include ../partials/footer %>