<% include ../partials/header %>
<div class="container">

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />

<a href="/blueprint-generator/new">New Blueprint</a>
<a href="/blueprint-generator/see-all">See All Blueprints</a>

<h1>Blueprint Home</h1>


</div><!--container-->
<% include ../partials/footer %>