<% include ../partials/header %>

  <style>
    form#blueprint {
      max-width: none;
    }

    #pageTable a {
      display: inline-block;
      padding: 5px;
      border-radius: 6px;
      margin: 5px 0;
      cursor: pointer
    }

    #pageTable a.addSubpage {
      background-color: #4cc500;
      color: #fff;
      font-size: 11px;
    }

    #pageTable a.removeSubpage,
    #pageTable a.removeSpecificSubpage {
      background-color: #c50000;
      color: #fff;
      font-size: 11px;
    }

    #pageTable a.addParent {
      background-color: #605dff;
      color: #fff;
    }

    #pageTable a.removeParent,
    #pageTable a.removeAll {
      background-color: #1e1d6f;
      color: #fff;
    }

    #pageTable input {
      display: inline-block;
      width: auto;
    }

    #pageTable div.pageInput {
      padding: 10px 0;
    }
  </style>
<div id="overview" class="center">
    <h1>New Blueprint Wizard</h1>
  </div>
<div class="container">
  <form id="blueprint" onsubmit="assignNames()" action="/blueprint-generator/new" method="POST">
    <div class="formField">
      <label for="blueprint[onboarder]">Onboarder:</label>
      <select name="blueprint[onboarder]">
        <option value="Select Onboarder" disabled selected>Select Onboarder</option>
        <% users.forEach(function(user){ %>
          <% if(user.team == 'On-Boarder') { %>
              <option value="<%= user.firstName %>"><%= user.firstName %></option>
          <% } %>
      <% }); %>
    </select>
    </div>

    <div class="formField">
      <label for="blueprint[onboarder]">Designer:</label>
      <select name="blueprint[designer]">
      <option value="Select Designer" disabled selected>Select Designer</option>
      <% users.forEach(function(user){ %>
        <% if(user.team == 'Designer') { %>
            <option value="<%= user.firstName %>"><%= user.firstName %></option>
        <% } %>
    <% }); %>
  </select>
    </div>

    <div class="formField">
      <input type="text" name="blueprint[homeScreenshot]" placeholder="Home Screenshot" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[interiorScreenshot]" placeholder="Interior Screenshot" />
    </div>
    
<style>
  #howManyDoctorsContainer input{background-color: rgb(243,243,102)}
</style>

<script>
$(document).ready(function(){
  $('<input type="text" name="blueprint[doctor]" placeholder="Doctor Name" />').appendTo("#howManyDoctorsContainer");
  $("#howManyDoctors").bind('keyup mouseup', function () {
    $("#howManyDoctorsContainer").empty();
    for(i = 0; i < $(this).val(); i++) {
      $('<input type="text" name="blueprint[doctor]" placeholder="Doctor Name" />').appendTo("#howManyDoctorsContainer");
    }
});
});
</script>

    <div class="formField">
      <label>How many Doctors?</label><input type="number" name="blueprint[howManyDoctors]" min="1" max="20" value="1" id="howManyDoctors">
    </div>

    <div class="formField" id="howManyDoctorsContainer">
      <!--inserted with script-->
    </div>

    <div class="formField">
      <input type="text" name="blueprint[practiceName]" placeholder="Practice Name" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[contactName]" placeholder="Contact Name" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[contactEmail]" placeholder="Contact Email" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[contactNumber]" placeholder="Contact Number" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[address]" placeholder="Address" />
    </div>

    <div class="formField">
      <select name="blueprint[howManyOffices">
        <option value="" disabled selected>How many offices?</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10+">10+</option>
      </select>
      <!--onboarder-->
    </div>

    <div class="formField">
      <input type="text" name="blueprint[dearDoctorID]" placeholder="Dear Doctor ID" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[practiceEmail]" placeholder="Practice Email" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[currentSiteURL]" placeholder="Current Site Url" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[clientUsername]" placeholder="Client Username" />
    </div>
    <div class="formField">
      <input type="text" name="blueprint[clientPassword]" placeholder="Client Password" />
    </div>

    <div class="formField">
      <label for="copywriteNotes">Copywrite Notes:</label>
      <textarea name="blueprint[copywriteNotes]" cols="100" rows="2"></textarea>
    </div>

    <div class="formField">
      <label for="designerNotes">Designer Notes:</label>
      <textarea name="blueprint[designerNotes]" cols="100" rows="2"></textarea>
    </div>

    <div class="formField">
      <label for="developerNotes">Developer Notes</label>
      <textarea name="blueprint[developerNotes]" cols="100" rows="2"></textarea>
    </div>

    <div id="pageTable">
      <div class="pageInput">
        <div class="parent">
          <span>Parent Page</span>
          <input class="parentText" type="text" placeholder="Parent Page Name" value="" />
          <input class="parentNotes" type="text" placeholder="Parent Page Notes" value="" />
          <a class="removeAll">---</a>
        </div>
        <a class="addSubpage">+ Add Subpage</a> | <a class="removeSubpage">- Remove Subpage</a>
      </div>
      <a class="addParent">+ Add Parent</a> | <a class="removeParent">- Remove Parent</a>
    </div>

    <div class="formButtons">
      <button id="submit">Submit</button>
    </div>
  </form>

</div><!--container-->

    <% include ../partials/footer %>