<% include partials/header %>

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />

<h3 class="pageHeader"><%= currentUser.firstName %>, this is the Blueprint Generator for the <%= currentUser.team %> team. This will make creating a blueprint a breeze!</h1>
<div id="blueprint">
    <div class="blueprintContainer">
        <p>The blueprint generator will go here.</p>
    </div>
</div>

<% include partials/footer %>