<% include partials/header %>
<script>
        $( document ).ready(function() {
            $("#startEssWrap, #checklistEssential").hide();
        
            $('#buildPkg').on('change', function(){
             if ($(this).val() === 'Essential'){
                $("#startEssWrap").show("slow");
                $("#checklistStarter, #checklistEssential").show();
             }

             if ($(this).val() === 'Starter'){
                $("#startEssWrap").show("slow");
                $("#checklistStarter").show();
                $("#checklistEssential").hide();
              }
        });
        });
</script>

<style>
form {max-width:100%; padding:0; box-shadow:none; background-color: transparent}
form input {display:inline-block; width: auto;}
.checklistForm input[type="radio"], .checklistForm input[type="radio"] {margin: 0 8px 0 0}
.form-group{margin:0}
#startEssWrap {display:none; margin: 30px 0 0}

.checklistContainer {max-width:80%; margin: 0 auto; }  
.checklistForm {margin: 30px 0}
.checklistForm span {width: auto; padding:20px;align-self:stretch; display:flex; align-items:center; color:#fff;  border-left:1px solid #fff}
.checklistForm .form-group span:last-of-type {border-right: 1px solid #fff}

.checklistForm label {width: 100%;margin:0; display: flex; flex-wrap:wrap; align-items: center;justify-content: space-between; border-bottom: 1px solid #fff}
.checklistForm .form-group:first-of-type label {border-top:1px solid #fff}
.checklistForm textarea {width:100%; height:50px; padding:5px}
.checklistForm #submit {margin: 20px 0 0}

.taskName {flex: 3; text-align:left; background:#2392A4; align-self:center; font-weight:700}
.taskComplete {flex: 1; background:#2479A7;}
.taskNA {flex: 1; background: #2566AA}
.taskNotes {flex:2; background:#2550AD;}

#checklistEssential {margin:20px 0 0}

#checklistHeaderInfo {display:flex; justify-content: space-between; flex-wrap:wrap; flex-direction:row; margin: 0 -10px}
#checklistHeaderInfo label {border:none; flex:1; margin: 0 10px}
#checklistHeaderInfo .domain {flex: 2}
#checklistHeaderInfo input, #checklistHeaderInfo select {width: 100%; height:2.5em; margin: 10px 0 0}
#checklistHeaderInfo select {padding: 0 10px}

@media screen and (max-width:768px) {
    .checklistForm label {flex-direction: column; border-bottom:none}
    .checklistForm .form-group {border:1px solid #fff; margin: 0 0 15px}
    .checklistForm span.taskName {border-bottom: 1px solid #fff}
    .checklistForm span, .checklistForm .form-group:first-of-type label, .checklistForm .form-group span:last-of-type  {border:none}
}

</style>

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />


    <div id="checklist">
    <div class="checklistContainer">
            <h3 class="pageHeader"><%= currentUser.firstName %>, this is the checklist for the <%= currentUser.team %> team. This will make completing a checklist a breeze!</h1>

        <form class="checklistForm" action="/checklist" method="POST">
           <!-- <div class="form-exit"> <span class="close">&times;</span></div> -->

        <div class="form-group" id="checklistHeaderInfo">
              <label name="buildPkg">Build Package:
              <select name="checklist[buildPkg]" id="buildPkg">
                  <option value="" disabled selected>Select Build Package</option>
                  <option value="Essential">Essential</option>
                  <option value="Starter">Starter</option>
              </select>
              </label>

              <label name="username" class="teamMember">Developer:
                  <input type="text" name="checklist[username]" value="<%= currentUser.firstName %>" />
              </label>
              <label name="domain" class="domain">Domain:
                        <input type="text" name="checklist[domain]" placeholder="Domain">
                </label>
        </div> <!-- end of form-group -->

        <div id="startEssWrap">
           <div id="checklistStarter"> 
            <div class="form-group">
                    <span><input class="checkName" value="Guest Browser Permissions" type="text" /></span>
                    <span class="taskComplete"><input class="checkStatus" type="radio" value="Complete"> Complete</span> 
                    <span class="taskNA"><input class="checkStatus" type="radio" value="N/A"> N/A</span>
                    <span class="taskNotes"><textarea class="checkNotes" placeholder="Additional Notes"></textarea></span>
            </div> <!-- end of form-group-->

            <div class="form-group">
                                <span><input class="checkName" value="Published Link Permissions" type="text" /></span>
                                <span class="taskComplete"><input class="checkStatus" type="radio" value="Complete"> Complete</span> 
                                <span class="taskNA"><input class="checkStatus" type="radio" value="N/A"> N/A</span>
                                <span class="taskNotes"><textarea class="checkNotes" placeholder="Additional Notes"></textarea></span>
                </div> <!-- end of form-group-->

                <div class="form-group">
                                        <span><input class="checkName" value="Client Account Created" type="text" /></span>
                                        <span class="taskComplete"><input class="checkStatus" type="radio" value="Complete"> Complete</span> 
                                        <span class="taskNA"><input class="checkStatus" type="radio" value="N/A"> N/A</span>
                                        <span class="taskNotes"><textarea class="checkNotes" placeholder="Additional Notes"></textarea></span>
                    </div> <!-- end of form-group-->

                    <div class="form-group">
                                        <span><input class="checkName" value="Forms Input &amp; Thank You Message" type="text" /></span>
                                        <span class="taskComplete"><input class="checkStatus" type="radio" value="Complete"> Complete</span> 
                                        <span class="taskNA"><input class="checkStatus" type="radio" value="N/A"> N/A</span>
                                        <span class="taskNotes"><textarea class="checkNotes" placeholder="Additional Notes"></textarea></span>
                        </div> <!-- end of form-group-->

                        <div class="form-group">
                                <label name="formPW"><span class="taskName">Form Password</span> 
                                        <span class="taskComplete"><input type="radio" name="formPW" value="Complete"> Complete</span> 
                                        <span class="taskNA"><input type="radio" name="formPW" value="N/A"> N/A</span>
                                        <span class="taskNotes"><textarea name="formPW" placeholder="Additional Notes"></textarea></span>
                                </label>
                            </div> <!-- end of form-group-->

                            <div class="form-group">
                                    <label name="contentComplete"><span class="taskName">Content Entry Marked Complete</span> 
                                            <span class="taskComplete"><input type="radio" name="contentComplete" value="Complete"> Complete</span> 
                                            <span class="taskNA"><input type="radio" name="contentComplete" value="N/A"> N/A</span>
                                            <span class="taskNotes"><textarea name="contentComplete" placeholder="Additional Notes"></textarea></span>
                                    </label>
                                </div> <!-- end of form-group-->

                                <div class="form-group">
                                        <label name="lockIA"><span class="taskName">Lock Informative Animations Portlets</span> 
                                                <span class="taskComplete"><input type="radio" name="lockIA" value="Complete"> Complete</span> 
                                                <span class="taskNA"><input type="radio" name="lockIA" value="N/A"> N/A</span>
                                                <span class="taskNotes"><textarea name="lockIA" placeholder="Additional Notes"></textarea></span>
                                        </label>
                                    </div> <!-- end of form-group-->

                                <div class="form-group">
                                        <label name="stockPhotos"><span class="taskName">Stock Photography</span> 
                                                <span class="taskComplete"><input type="radio" name="stockPhotos" value="Complete"> Complete</span> 
                                                <span class="taskNA"><input type="radio" name="stockPhotos" value="N/A"> N/A</span>
                                                <span class="taskNotes"><textarea name="stockPhotos" placeholder="Additional Notes"></textarea></span>
                                        </label>
                                </div> <!-- end of form-group-->

                                <div class="form-group">
                                        <label name="genSitemap"><span class="taskName">Generate XML Site Map</span> 
                                                <span class="taskComplete"><input type="radio" name="genSitemap" value="Complete"> Complete</span> 
                                                <span class="taskNA"><input type="radio" name="genSitemap" value="N/A"> N/A</span>
                                                <span class="taskNotes"><textarea name="genSitemap" placeholder="Additional Notes"></textarea></span>
                                        </label>
                                </div> <!-- end of form-group-->

                                <div class="form-group">
                                        <label name="301s"><span class="taskName">Complete 301s | Enable Auto 301s | Redirect Home to /</span> 
                                                <span class="taskComplete"><input type="radio" name="301s" value="Complete"> Complete</span> 
                                                <span class="taskNA"><input type="radio" name="301s" value="N/A"> N/A</span>
                                                <span class="taskNotes"><textarea name="301s" placeholder="Additional Notes"></textarea></span>
                                        </label>
                                </div> <!-- end of form-group-->

                                <div class="form-group">
                                        <label name="tlinkBranding"><span class="taskName">T.LINK Branding</span> 
                                                <span class="taskComplete"><input type="radio" name="tlinkBranding" value="Complete"> Complete</span> 
                                                <span class="taskNA"><input type="radio" name="tlinkBranding" value="N/A"> N/A</span>
                                                <span class="taskNotes"><textarea name="tlinkBranding" placeholder="Additional Notes"></textarea></span>
                                        </label>
                                </div> <!-- end of form-group-->
                                </div> <!-- end of checklistStarter-->

                 <div id="checklistEssential">
                    <div class="form-group">
                        <label name="phoneMobile"><span class="taskName">Phone Number on Mobile</span> 
                            <span class="taskComplete"><input type="radio" name="phoneMobile" value="Complete"> Complete</span> 
                            <span class="taskNA"><input type="radio" name="phoneMobile" value="N/A"> N/A</span>
                            <span class="taskNotes"><textarea name="phoneMobile" placeholder="Additional Notes"></textarea></span>
                        </label>
                    </div> <!-- end of form-group-->

                    <div class="form-group">
                            <label name="styleToMatch"><span class="taskName">Forms, Galleries, IAs Styled to Match Site</span> 
                                <span class="taskComplete"><input type="radio" name="styleToMatch" value="Complete"> Complete</span> 
                                <span class="taskNA"><input type="radio" name="styleToMatch" value="N/A"> N/A</span>
                                <span class="taskNotes"><textarea name="styleToMatch" placeholder="Additional Notes"></textarea></span>
                            </label>
                        </div> <!-- end of form-group-->

                        <div class="form-group">
                                <label name="focusHover"><span class="taskName">Focus to Hover States</span> 
                                    <span class="taskComplete"><input type="radio" name="focusHover" value="Complete"> Complete</span> 
                                    <span class="taskNA"><input type="radio" name="focusHover" value="N/A"> N/A</span>
                                    <span class="taskNotes"><textarea name="focusHover" placeholder="Additional Notes"></textarea></span>
                                </label>
                        </div> <!-- end of form-group-->
                    
                        <div class="form-group">
                                <label name="checkBrowsers"><span class="taskName">Check Site in Browsers</span> 
                                    <span class="taskComplete"><input type="radio" name="checkBrowsers" value="Complete"> Complete</span> 
                                    <span class="taskNA"><input type="radio" name="checkBrowsers" value="N/A"> N/A</span>
                                    <span class="taskNotes"><textarea name="checkBrowsers" placeholder="Additional Notes"></textarea></span>
                                </label>
                        </div> <!-- end of form-group-->

                        <div class="form-group">
                                <label name="metaDesc"><span class="taskName">Meta Descriptions</span> 
                                    <span class="taskComplete"><input type="radio" name="metaDesc" value="Complete"> Complete</span> 
                                    <span class="taskNA"><input type="radio" name="metaDesc" value="N/A"> N/A</span>
                                    <span class="taskNotes"><textarea name="metaDesc" placeholder="Additional Notes"></textarea></span>
                                </label>
                        </div> <!-- end of form-group-->

                </div>
                <button id="submit" class="btn btn-md btn-primary">Submit Checklist</button>
        </div> <!-- end startEssWrap -->
                
            </form> <!-- end of form -->
    </div>
</div>
<script>
$("form.checklistForm").submit(function () {   
    var count = 0;        
    if(!$("#checklistEssential").css("display","none") === true){
        $("#startEssWrap div.form-group").each(function(){
            $(this).children().find(".checkName").attr("name", "checklist[checklistTask][" + count + "][taskName]");
            $(this).children().find(".checkStatus").attr("name", "checklist[checklistTask][" + count + "][taskStatus]");
            $(this).children().find(".checkNotes").attr("name", "checklist[checklistTask][" + count + "][additionalNotes]");
            count++;        
        });
    } else {
        $("#checklistStarter div.form-group").each(function(){
            $(this).children().find(".checkName").attr("name", "checklist[checklistTask][" + count + "][taskName]");
            $(this).children().find(".checkStatus").attr("name", "checklist[checklistTask][" + count + "][taskStatus]");
            $(this).children().find(".checkNotes").attr("name", "checklist[checklistTask][" + count + "][additionalNotes]");
            count++;        
        });
    } 
    });
</script>


<% include partials/footer %>



