<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Edit Task</h1>
      <form class="trackerForm" action="/tracker" method="POST">
        <div class="form-group">
          <label name="date">Date:
            <input type="date" name="date" />
          </label>
          <label name="acctNum" />Account Number:
            <input type="number" name="acctNum" placeholder="######" >
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label name="username">Developer:
            <input type="text" name="username" value="<%= currentUser.firstName %>" />
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label name="designer">Designer:
            <select name="designer">
              <option value="Select Designer" selected>Select Designer</option>
              <option value="NA">N/A</option> <!-- If site is a Starter -->
              <option value="Garo">Garo</option>
              <option value="Jodi">Jodi</option>
              <option value="Michael">Michael</option>
              <option value="Nick">Nick</option>
              <option value="Yogesh">Yogesh</option>
            </select>
          </label>
          <label name="onboarder">On-Boarder:
            <select name="onboarder">
              <option value="Select On-Boarder" selected>Select On-Boarder</option>
              <option value="Rachel">Rachel</option>
              <option value="Stacey">Stacey</option>
              <option value="Denise">Denise</option>
            </select>
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label name="buildPkg">Build Package:
            <select name="buildPkg" id="buildPkg">
              <option value="Select Build Package" selected>Select Build Package</option>
              <option value="Essential">Essential</option>
              <option value="Starter">Starter</option>
            </select>
          </label>
          <label name="starterTemplate" class="ifStarter">Starter Template:
            <select name="starterTemplate">
              <option value="Select Template">Select Template</option>
              <option value="Neverland">Neverland</option>
              <option value="Atlantis">Atlantis</option>
              <option value="Camelot">Camelot</option>
              <option value="Olympus">Olympus</option>
            </select>
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label name="specialFeatures" class="ifEssential">Special Features:
            <select name="specialFeatures" multiple>
              <option value="Breadcrumbs">Breadcrumbs</option>
              <option value="Interior Featured Image">Interior Featured Image</option>
              <option value="Mega Menu">Mega Menu</option>
              <option value="Object Fit">Object Fit</option>
              <option value="Shrinky Header">Shrinky Header</option>
              <option value="Search Bar">Search Bar</option>
              <option value="Scroll Efects">Scroll Effects</option>
            </select>
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label name="domain">Domain:
            <input type="text" name="domain" placeholder="Domain">
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label class="labelTask" name="taskType">Task:
            <input type="text" name="taskType" placeholder="Logic coming later">
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label class="labelNotes" name="notes">Notes:
            <textarea name="notes"></textarea>
          </label>
        </div> <!-- end of form-group -->
        <button>Update Task</button>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>