<% include partials/header %>

<h1 class="pageHeader">Forgot Password?</h1>

<form action="/forgot" method="POST">
   <legend>Email</legend>
   
   <input type="text" name="email" autofocus required>
    <button>Reset Password</button>
</form>

<% include partials/footer %>