<% include partials/header %>

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />

<h3 class="pageHeader">
    <%= currentUser.firstName %>, do you want to recognize another team member for a a job well done? This is the place to do it!</h1>
<div id="hatsOff">
    <div class="hatsOffContainer">
        <p>The Hats-Off content will go here.</p>
    </div>
</div>

<% include partials/footer %>