<% include partials/header %>
<div id="overview" class="center">
	<h1>Web Team Hats-Off</h1>
</div>
<div class="container">
<h3 class="pageHeader">
    <%= currentUser.firstName %>, do you want to recognize another team member for a a job well done? This is the place to do it!</h1>
    <div id="hatsOff">
        <div class="hatsOffContainer">
            
        </div>
    </div>
</div>
<% include partials/footer %>