<% include partials/header %>
<div id="overview" class="center">
	<h1>Web Team Idea Warehouse</h1>
</div>
<div class="container">
    <h3 class="pageHeader"><%= currentUser.firstName %>, this is the Idea Warehouse for the <%= currentUser.team %> team. Feel free to share any project ideas, code snippets, tips or tricks!</h1>
    <div id="ideaWarehouse">
        <div class="ideaWarehouseContainer">
          
        </div>
    </div>
</div>

<% include partials/footer %>