<% include partials/header %>

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />

<h3 class="pageHeader"><%= currentUser.firstName %>, this is the Idea Warehouse for the <%= currentUser.team %> team. Feel free to share any project ideas, code snippets, tips or tricks!</h1>
<div id="ideaWarehouse">
    <div class="ideaWarehouseContainer">
        <p>Ideas will go here.</p>
    </div>
</div>

<% include partials/footer %>