<% include partials/header %>

<div class="welcome">
  <h1>Welcome to the new WebTeam SuperSite!</h1>
  <h3>We know you'll find it to be a very useful tool.</h3>
</div>
<div class="welcomeLinks">
  <p><a href="/login" class="login">Login</a></p>
  <p>New user? Sign up <a href="/signup">here</a>.</p>
</div>

<% include partials/footer %>