<h1>Hello and Welcome</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="UserName">
    <input type="password" name="password" placeholder="Password">
    <button>Login</button>
</form>