<% include partials/header %>


<h1 class="pageHeader">Hey! Log in to see your dashboard.</h1>

<form action="/login" method="POST">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button>Login</button>
    <legend style="margin: 10px 0 0;"><a href="/forgot">Forgot Password?</a></legend>
</form>

<% include partials/footer %>