<% include partials/header %>

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />

<h3 class="pageHeader"><%= currentUser.firstName %>, this is the Presence URL Tracker for Essential builds.  This is the easiest way to keep up with site build URLs.</h1>
<div id="presenceTracker">
    <div class="presneceTrackerContainer">
        <p>Presence URLs will go here.</p>
    </div>
</div>

<% include partials/footer %>