<% include partials/header %>

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />

<h3 class="pageHeader"><%= currentUser.firstName %>, this is the Special Project Tracker.  Any time you are working on a special project, you will keep track of it here!</h1>
<div id="presenceTracker">
    <div class="presneceTrackerContainer">
        <p>The Special Project Tracker will go here.</p>
    </div>
</div>

<% include partials/footer %>