<% include partials/header %>

<h1 class="pageHeader">First Time? Sign up now :)</h1>

<form method="POST">
   <label name="password">New Password</label>
   <input type="password" name="password" autofocus="true" placeholder="New Password" value="" required>
   <label name="confirm">Confirm Password</label>
   <input type="password" name="confirm" placeholder="Confirm Password" value="" required>
    <button>Update Password</button>
</form>

<% include partials/footer %>