<% include ../partials/header %>
<div id="overview" class="center">
	<h1><%= currentUser.team %> All Checklist Page</h1>
  </div>
<p>Guest Browser Permissions:  <br>
</p>
<% include ../partials/footer %>