<h1>Welcome to the Tracker Page</h1>

<!--<p><a href="/tracker/form">Track Something</a></p>-->

<form action="/signup" method="POST">
  <!-- <input type="text" name="firstName" placeholder="First Name" />
  <input type="text" name="lastName" placeholder="Last Name" /> -->
  <input type="text" name="email" placeholder="Email" />
  <!-- <input type="password" name="password" placeholder="Password" />
  <input type="text" name="profileImageUrl" placeholder="Image URL" />
  <select name="team">
    <option value="Developer">Developer</option>
    <option value="Designers">Designers</option>
    <option value="Onboarders">Onboarders</option>
    <option value="Copywriter">Copywriter</option>
    <option value="Technicians">Technicians</option>
  </select> -->
  <button>Submit</button>
</form>