<% include partials/header %>

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />

<h3 class="pageHeader"><%= currentUser.firstName %>, this is where you will track any of your completed tasks.</h1>
<div id="tracker">
    <div class="trackerContainer">
        <p>The tracker will go here.</p>
    </div>
</div>

<% include partials/footer %>