
</section>
<footer id="footer">
    <div class="container">
        <a href="/"><h2 style="text-align: center;" class="brand">Strom Centre</h2></a>
        <p>&copy; 2018 Web Devs</p>
    </div>
</footer>
</body>
</html>