</section>
<footer id="footer">
    <div id="footerTop">
        <div class="container">
            <div id="logo" style="text-align: center;">
                <% if(!currentUser){ %>
                <a class="fas fa-bolt" href="/">
                    <h2 class="brand">Strom Centre</h2>
                </a>
                <% } else { %>
                <a class="fas fa-bolt" href="/dashboard">
                    <h2 class="brand">Strom Centre</h2>
                </a>
                <% } %>
            </div>
            <div class="footerLinks">
                <ul class="flexbox flexCenter">
                    <li><a href="http://salesresources.televox.west.com" alt="" target="_blank">Sales Resource</a></li>
                    <li><a href="/presence-url-tracker" alt="Presence URL">Presence URL</a></li>
                    <li><a href="http://resources.televox.west.com/" alt="" target="_blank">Web Resource</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        <p><a style="color: white;" href="/strom">&copy; 2018 Web Devs</a><span>Version - 1</span></p>
    </div>
</footer>
<div id="pageOverlay" style="display: none;"></div>

</body>

</html>