
</section>
<footer id="footer">
    <div class="container">
        <a href="/"><h2 style="text-align: center;" class="brand">Strom Centre</h2></a>
        <p><a style="color: white;" href="/strom">&copy; 2018 Web Devs</a></p>
    </div>
</footer>
<div id="pageOverlay" style="display: none;"></div>
</body>
</html>