<!DOCTYPE html>
<html>
    <head>
        <title>Invictus</title>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <style>
            
        </style>
        
    </head>
    <body>
        <header id="header">
            <div class="container">
                <div class="logo">
                  <a href="/"><img src="https://raw.githubusercontent.com/haney2121/invictus-project/master/invictus-client/src/images/invictus-white-logo.png" alt="Invictus" /></a>
                </div><!--logo-->
                <ul id="utilityNav">
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    <% } else { %>
                        <li><span class="loggedIn">Logged in as: <strong><%= currentUser.firstName + " " + currentUser.lastName %></strong></span></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div><!--container-->
        </header>
        <section id="siteBody">
         <div class="container"><!--closing tag in footer file-->
    