<% include ../partials/header %>
       
<div id="overview" class="center">
    <h1><%= currentUser.firstName %>'s Project Creation</h1>
</div>
<div class="container" style="margin: 10px auto;">
    <div class="row">
    <div class="col-md-12">
        <form class="form profileForm" action="/projects" method="POST">
        <section class="header flexbox flexJustify">
            <h2>Project Creation</h2>
        </section>
        <div class="wrapper">
            <section class="flexbox flexJustify">
            <label for="name"><span>Project Name:</span>
                <input type="text" name="name" placeholder="Project Name">
            </label>
            <label for="date"><span>Create Date:</span>
                <input type="date" name="date" >
            </label>
            <label for="status"><span>Project Status:</span>
                <select name="status">
                    <option value="Ready for Work" selected>Ready for Work</option>
                    <option value="In Progress">In Progress</option>    
                    <option value="Awaiting Review">Awaiting Review</option>
                    <option value="On Hold">On Hold</option>
                    <option value="Completed">Completed</option>
                </select>
            </label>
        </section>
            <section>
                    <label for="description" class="labelNotes"><span>Project Description:</span>
                        <textarea name="description" placeholder="Project Description"></textarea>
                    </label>
            </section>
            <button type="submit">Create Project</button>
        </div>
        </form>
        
    </div>
    </div>
</div>

<% include ../partials/footer %>
